<div class="min-h-screen w-full flex items-center justify-center">
  <div class="space-y-4">
    <h1 class="text-6xl text-center"><%= t("app.title") %></h1>
    <p class="text-xl"><%= t("app.description") %></p>
  </div>
</div>
